Debug/
Release/
sfml/Debug/
sfml/Release/
sfml/TGUI-0.6/
sfml/sfml.vcxproj
sfml/sfml.vcxproj.filters
sfml.sdf
sfml.sln
sfml.v12.suo
*.cd

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app